.layout {
	width: 100vw;
	height: 100vh;

	background: var(--background);
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	
	&-head {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 var(--padding);
		background: var(--background_main);
	}

	&-main {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow-y: auto;
	}
}
