.analyze {
	width: 100%;
	height: 100%;
	padding: var(--padding);
	display: grid;
	gap: var(--inner-gap);
	grid-template-columns: 1fr;
	grid-template-rows: repeat(auto, 1fr);
	grid-template-areas:
		'problem'
		'conclusion'
		'symptoms'
		'hypothesis'
		'consequences';
	overflow-y: auto;

	&-problem {
		grid-area: problem;
	}
	&-conclusion {
		grid-area: conclusion;
	}

	&-symptoms,
	&-hypothesis,
	&-consequences {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		background: var(--background_main);
		border-radius: var(--radius);
		border: var(--border);
		padding: var(--padding);
	}

	&-symptoms {
		grid-area: symptoms;
	}
	&-hypothesis {
		grid-area: hypothesis;
	}
	&-consequences {
		grid-area: consequences;
	}
}

@media (min-width: 768px) {
	.analyze {
		grid-template-columns: 2fr 2fr 1.2fr;
		grid-template-rows: 144px 1fr;
		grid-template-areas:
			'problem conclusion conclusion'
			'symptoms hypothesis consequences';
	}
}
