.add-content {
	width: 100%;
	max-height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--inner-gap);
	z-index: 1;

	&-button {
		border: none;
		background: #333;
		padding: 5px 10px;
		border-radius: 3px;
		cursor: pointer;

		&:hover {
			background: #444;
			transform: scale(1.1);
		}
	}
}
