.button {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	border-radius: var(--radius);
	position: relative;

	cursor: pointer;
	padding: 4px 11px;

	min-height: 34px;
	transition: 1s;

	background: var(--background_module);
	color: var(--text_color);
	border: var(--border);
	white-space: nowrap;
	z-index: 4;
	backdrop-filter: blur(7px);

	&--load {
		background: var(--load);
	}
	&--ok {
		background: var(--ok);
	}
	&--error {
		background: var(--error);
	}

	&-icon {
		width: 0;
		transform: scale(0);
		transition: 0;
	}

	&:hover {
		background: var(--hover);
		border: var(--border_hover);

		.button-icon {
			width: 22px;
			transform: scale(1);
			transition: 1s;

			&--back {
				margin-right: auto;
			}
			&--forward {
				margin-left: auto;
			}
		}
	}

	&-progress {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&:disabled {
		background: grey;
		border: none;
		box-shadow: none;

		&:hover {
			user-select: none;
			transform: none;
			box-shadow: none;
			border-radius: 7px;
			background: grey;

			.button-icon {
				display: none;
			}
		}
	}

	&--primary {
		background: var(--first);
		color: #f0f0f0;
		&:hover {
			background: var(--first);
		}
	}

	&--secondary {
		background: var(--second);
		color: var(--text_color);
		&:hover {
			background: var(--second);
		}
	}

	&--tertiary {
		background: var(--third);
		color: var(--text_color);
		&:hover {
			background: var(--third);
		}
	}

	&--exit {
		background: var(--error);
		color: var(--text_color);
		&:hover {
			background: var(--error);
		}
	}

	&--save {
		background: var(--ok);
		color: var(--text_color);
		&:hover {
			background: var(--ok);
		}
	}

	&--stretch {
		min-width: stretch;
		background: var(--third);
		color: var(--text_color);
	}

	&--transparet {
		background: transparent;
		border: none;
		color: var(--text_color);
	}

	& img {
		width: 22px;
		filter: overlay-color('#118800');
	}
}
