.card {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	padding: var(--padding);
	background: var(--background_main);
	border-radius: var(--radius);
	border: var(--border);
	position: relative;

	&:hover {
		border: var(--border_hover);

		filter: blur(0px);
	}

	&-head {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 0 44px 0 0;
		
		&-title {
			width: 100%;
		}
	}

	&-remove {
		position: absolute;
		top: 7px;
		right: 7px;
		opacity: 0;
		transition: opacity 0.3s ease;
	}

	&:hover > .card-remove {
		opacity: 1;
	}

	&--blured {
		filter: blur(7px) opacity(0.4);
	}

	&--new {
		border: var(--border);
		&:hover {
			transform: var(--transform);
			box-shadow: var(--shadow) var(--shadow-color);
			border: var(--border_hover);
		}
	}
	&--valid {
		background: var(--status-valid);
		border: 2px solid var(--status-valid);
		&:hover {
			transform: var(--transform);
			box-shadow: var(--shadow) var(--shadow-color);
			border: 2px solid var(--status-valid);
		}
	}
	&--invalid {
		background: var(--status-invalid);
		border: 2px solid var(--status-invalid);
		&:hover {
			transform: var(--transform);
			box-shadow: var(--shadow) var(--shadow-color);
			border: 2px solid var(--status-invalid);
		}
	}

	&--pending {
		border: 2px solid var(--experiment-pending);
		&:hover {
			transform: var(--transform);
			box-shadow: var(--shadow) var(--shadow-color);
			border: 2px solid var(--experiment-pending);
		}
	}

	&--positive {
		border: 2px solid var(--experiment-positive);
		&:hover {
			transform: var(--transform);
			box-shadow: var(--shadow) var(--shadow-color);
			border: 2px solid var(--experiment-positive);
		}
	}

	&--negative {
		border: 2px solid var(--experiment-negative);
		&:hover {
			transform: var(--transform);
			box-shadow: var(--shadow) var(--shadow-color);
			border: 2px solid var(--experiment-negative);
		}
	}
	
	&--focus {
		transform: var(--transform);
		box-shadow: var(--shadow-up) var(--shadow-color);
	}

}
