.download {
  display: flex;
  justify-content: flex-start;
  align-items: center;

	&-button {
    display: flex;
		justify-content: center;
		align-items: center;
		background: var(--background_focus);
		cursor: pointer;
		width: 49px;
		height: 49px;
		border-radius: 50%;
		border: none;
		opacity: 0.5;
    
		z-index: 99;
    
    > img {
      max-width: 34px;
			max-height: 34px;
		}

		&:hover {
			opacity: 1;
			transform: scale(0.9);
			box-shadow: var(--shadow-up) var(--background_focus);

			&.download-button img {
				transform: scale(2);
			}
		}
	}
}
