.flip {
  background-color: transparent;
  perspective: 1000px;
  
  &_body {
    position: relative;
    width: 100%;
    min-height: 600px;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    
    &--backface {
      transform: rotateY(180deg);
    }
  }
  
  &_front, &_back {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  &_back {
    transform: rotateY(180deg);
  }
}
