.flow {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: var(--inner-gap);

	position: relative;
	cursor: pointer;

	&-title {
	}

	&-steps {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		gap: var(--inner-gap);

		&-cards {
			display: flex;

			justify-content: center;
			align-items: center;
			gap: var(--inner-gap);

			&-step {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				gap: var(--inner-gap);
			}
		}

		&-arrow {
			width: 44px;
			height: 44px;
		}

		&-add {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			gap: var(--gap);
			border: var(--border);
			border-radius: 4px;
			cursor: pointer;
			opacity: 0.4;
			border-radius: var(--radius);
			position: relative;
			padding: var(--padding);
	
			&-button {
				// opacity: 0;
				// position: absolute;
				// right: 0;
				// bottom: -49px;
				// padding-top: 22px;
	
				// & > button {
				// 	width: 49px;
				// 	height: 42px;
				// }
			}
	
			&:hover {
				opacity: 1;
				background: var(--hover);
				.idea-add-button {
					opacity: 1;
				}
			}
		}
	}
}
