.form {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

	gap: $common_gap + 10;
  padding: $common_padding + 10;
  border-radius: $common_radius;
  box-shadow: $common_shadow;
  background: var(--background_complement_color);
  width: 600px;
  
  &_inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  &_progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 7px;
    width: stretch;
    
    &_bar {
      background-color: rgb(37, 37, 37);
      border-radius: 4px;
      padding: 2px;
      margin: 0 44px;
      width: stretch;
      
      &--layer {
        background-color: $saving_color;
        width: 0%;
        height: 9px;
        border-radius: 4px;
      }
    }
  }
}