.labeled {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 40px;
  padding: 14px 24px;
  width: stretch;

  transition: .5s;

  height: 40px;
  user-select: none;
  cursor: pointer;
  
  overflow: hidden;
  overflow-wrap: break-word;
  
  background-color: transparent;

  opacity: 50%;
  
  &:hover {
    background-color: var(--background_layout);
  }
  
  &_icon {
    width: 34px;
    height: 34px;
    
  }

  &_label {
    width: stretch;
    color: var(--text_color);
  }
  
  &--active {
    opacity: 100%;
    transition: 1s;
    background-color: var(--background_focus);

  }
  
  &--editable {
    &:hover {
      background-color: transparent;
    }
  }
}
