.label {
	display: grid;
	place-content: center;
	width: 100%;
	max-width: 222px;
	padding: 4px 11px;
	cursor: pointer;

	// backdrop-filter: var(--backdrop-filter);
	border: var(--border);
	border-radius: var(--radius);

	&--focus {
		filter: blur(0) opacity(1);
		box-shadow: var(--shadow-up) var(--shadow-color);
	}

	filter: blur(2px) opacity(0.7);

	&:hover {
		border: var(--border_hover);
		box-shadow: var(--shadow-up) var(--shadow-color);
		transform: var(--transform);

		filter: blur(0) opacity(1);
	}
	&--good {
		background: var(--third);
	}
	&--alert {
		background: var(--fourth);
	}
	&--bad {
		background: var(--second);
	}

	// CATEGORY
	&--default {
		background: var(--category-default);
	}
	&--idea {
		background: var(--category-idea);
	}
	&--design {
		background: var(--category-design);
	}
	&--mechanics {
		background: var(--category-systems);
	}
	&--characters {
		background: var(--category-characters);
	}
	&--levels {
		background: var(--category-levels);
	}
	&--ui {
		background: var(--category-ui);
	}
	&--puzzles {
		background: var(--category-puzzles);
	}
	&--story {
		background: var(--category-story);
	}
}
