.menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	gap: 12px;
	flex-wrap: wrap;
	
	width: auto;
	height: auto;
	padding: 24px;
	transition: .5s;
	
	z-index: 7;
	
	border: 1px solid white;
	background: var(--color_core);

	p {
		opacity: 100%;
	}

	&--closed {
		width: 60px;
		transition: .5s;

		p {
			opacity: 0%;
		}
	}
	
	&_title {
		display: flex;
		justify-content: center;
		align-items: center;

		padding: 42px 27px;
		width: stretch;
	}
	
	&_body {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		
		height: stretch;
		width: stretch;
		
		&_title {
			user-select: none;
			line-height: 22px;
			color: var(--text_color);
			text-align: right;
			margin: 0 22px 0 14px;
			font-size: smaller;

		}
		
		&_sections {
			display: flex;
			flex-direction: column;
			justify-content: center;
			
			width: stretch;
		}
	}
	
	&_bottom {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		
		padding: 14px 4px;
		width: stretch;

		&_arrow {
			display: flex;
			justify-content: center;
			align-items: center;
	
			padding: 4px;
			margin: 0 11px;
			cursor: pointer;
			border-radius: 20px;
			transition: .4s;

			&_image {
				transition: .4s;
				user-select: none;
				transform: rotateZ(180deg);
				&--closed {
					transform: rotateZ(360deg);
				}
			}

			&:hover {
				background-color: var(--first);
			}
		}
	}
}
