.selector {
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 7px;
	z-index: 99;

	&--row {
		flex-direction: row;
		gap: 2px;
	}

	&-label {
		width: 100%;
		padding: 2px 7px;
	}

	&-options {
		position: relative;
		width: 100%;

		&-selected {
			border: none;
			background: var(--first);
			z-index: 14;
			width: 100%;
			white-space: nowrap;
			cursor: pointer;
			display: flex;
			flex-wrap: wrap;
			gap: 5px;
			min-width: 244px;
			max-width: 777px;
			padding: 5px;

			&-item {
				padding: 2px 5px;
				border-radius: var(--radius);
				font-size: 0.9em;
			}
			&-more {
				font-size: 0.8em;
				color: var(--more-text-color);
				padding: 2px 5px;
			}
		}

		&-others {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			gap: 4px;
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			max-width: 777px;
			margin-top: 4px;
			max-height: 0;
			overflow-y: hidden;
			backdrop-filter: var(--backdrop-filter);
			background: #131313c9;
			border-radius: var(--radius);
			box-shadow: var(--shadow) var(--shadow-color);
			z-index: 11;
			scrollbar-width: none;
			transition: max-height 0.3s ease, padding 0.3s ease;

			&-item {
				padding: 7px 17px;
				cursor: pointer;
				transition: background 0.2s ease-in-out, opacity 0.3s ease,
					transform 0.3s ease;
				opacity: 0;
				display: flex;
				justify-content: space-between;
				width: 100%;
				max-width: 777px;
				border: none;

				&:hover {
					background: var(--hover);
				}
			}
		}

		&:hover .selector-options-others {
			max-height: 444px;
			padding: 22px 0 11px 0;
			overflow-y: auto;

			&-item {
				opacity: 1;
				transform: scale(1);
			}
		}
	}

	.selector-options-checkbox {
		margin-left: 11px;
		transform: scale(1.2);
		cursor: pointer;
	}
}
