.themer {
  display: flex;
  flex-direction: var(--nav-direction);
  justify-content: center;

  &-mode, &-layout {
    background: var(--background_focus);
    cursor: pointer;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: none;
    opacity: .5;
    
    z-index: 99;
    
    > img {
      width: 30px;
      height: 30px; 
    }
    
    &:hover {
      opacity: 1;
      transform: scale(.9);
      box-shadow: var(--shadow-up) var(--background_focus);
      
      &.themer-mode img {
        transform: scale(2);
      }

      &.themer-layout img {
        transform: scale(2);
      }
    }
  }

}